{feed_a,[
	{source, "172.27.129.77"},
	{port, "24027"},
	{group, "239.192.7.27"}
]}.
{feed_b,[
	{source, "172.27.129.77"},
	{port, "25027"},
	{group, "239.192.135.27"}
]}.
{feed_c,[
	{source, "172.27.129.77"},
	{port, "24028"},
	{group, "239.192.7.28"}
]}.
{feed_d,[
	{source, "172.27.129.77"},
	{port, "25028"},
	{group, "239.192.135.28"}
]}.
{fix_read, [
  {host, "91.208.232.246"},
  {port, 6001},
  {password, "12345"},
  {target, "FG"},
  {sender, "tgFZcmx200A80"},
  {heartbeat, 30},
  {account, 'Acc0'}
]}.
